'fileTypes': [
  'gitignore'
  'gitignore_global'
]
'name': 'Gitignore'
'patterns': [
  {
    'name'  : 'heading.gitignore'
    'match' : '^###.*$'
  }
  {
    'name'  : 'heading.block.gitignore'
    'begin' : '^#(-|=|/|~|%|:|@|&|!|\+|\$|\*|\\|\|)[^#]+#?'
    'end'   : '^#(-|=|/|~|%|:|@|&|!|\+|\$|\*|\\|\|)[^#]+#?'
  }
  {
    'name'  : 'section.gitignore'
    'match' : '^##[^#].*$?'
  }
  {
    'name'  : 'comment.gitignore'
    'match' : '^#[^#].*$?'
  }
  {
    'name'  : 'slash.gitignore'
    'match' : '/'
  }
  {
    'name'  : 'keyword.negation.gitignore'
    'match' : '\!'
  }
  {
    'name'  : 'keyword.wildcard.gitignore'
    'match' : '\*'
  }
  {
    'name'  : 'directory.gitignore'
    'match' : '.*/.*'
  }
  {
    'name'  : 'constant.character.escape.gitignore'
    'match' : '(\\!|\\*)'
  }
]
'scopeName': 'source.gitignore'
